
<h1>Proyectos.</h1>
<p>
  Galeria de imagenes de algunos trabajos realizados durante los años.
<br>Las herramientas de utilizo son <strong>Photoshop, Illustrator, InDesing, Clip Studio Paint.</strong> 
<br>
Futuro <strong>Desarrollador Web, </strong> esta pagina fue realizado en su totalidad por mi. <br>
Como IDE utilize Visual Studio, en la creacion de esta pagina se utilizo el Framework <strong>Angular 10, HTML, CSS, Bootstrap. </strong>
</p>


<!-- Button trigger modal IMG 01-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <img id="miniimg" src='assets/Gallery/lapa.jpg' alt="Ilustracion de lapa">
    <span><br>Ilustracion</span>
</button>
  <!-- Modal IMG 01-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Ilustracion de una Lapa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/lapa.jpg' alt="Ilustracion de lapa">
            Ilustracion utilizando Photoshop y una tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal IMG 02-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
    <img id="miniimg" src='assets/Gallery/oldM.jpg' alt="Ilustracion de un Hongo">
    <span><br>Ilustracion</span>
  </button>
  <!-- Modal IMG 02-->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Ilustracion Hongo Viejo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/oldM.jpg' alt="Ilustracion de un hongo Viejo">
            Ilustracion utilizando Photoshop y tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 03-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
    <img id="miniimg" src='assets/Gallery/oni.jpg' alt="Ilustracion de un Oni">
    <span><br>Ilustracion</span>
  </button>
  <!-- Modal IMG 03-->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ilustracion Oni</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/oni.jpg' alt="Ilustracion de un Oni">
            Ilustracion, Clip Studio Paint y tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 04-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
    <img id="miniimg" src='assets/Gallery/elfo.jpg' alt="Logo BJJ & COFFEE">
    <span><br>Ilustracion</span>
  </button>
  <!-- Modal IMG 04-->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ilustracion Elfo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/elfo.jpg' alt="Ilustracion">
            Clip Studio Paint y tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 05-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">
    <img id="miniimg" src='assets/Gallery/CholoRoll.jpg' alt="Logo Cholo Roll">
    <span><br>Diseño de Logo</span>
  </button>
  <!-- Modal IMG 05-->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logo de canal de YouTuBe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/CholoRoll.jpg' alt="Ilustracion de un hongo Viejo">
            Logo en Illustrator y tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 06-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6">
    <img id="miniimg" src='assets/Gallery/bjjCoffee.jpg' alt="Creacion de logo">
    <span><br>Diseño de Logo</span>
  </button>
  <!-- Modal IMG 06-->
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/bjjCoffee.jpg' alt="Diseño e Impresion">
            Logo.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal IMG 07-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal7">
    <img id="miniimg" src='assets/Gallery/grafico74.jpg' alt="Logo">
    <span><br>Diseño de Logo</span>
</button>
  <!-- Modal IMG 07-->
  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logotipo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/grafico74.jpg' alt="Logotipo Grafico74">
            Illustrator y una tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal IMG 08-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal8">
    <img id="miniimg" src='assets/Gallery/CI.jpg' alt="Ilustracion de un Hongo">
    <span><br>Diseño de Logo</span>
  </button>
  <!-- Modal IMG 08-->
  <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logotipo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/CI.jpg' alt="Ilustracion de un hongo Viejo">
            Illustrator y tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 09-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal9">
    <img id="miniimg" src='assets/Gallery/nelasBakery.jpg' alt="Logotipo nelas Bakery">
    <span><br>Diseño de Logo</span>
  </button>
  <!-- Modal IMG 09-->
  <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logotipo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/nelasBakery.jpg' alt="Logotipo nelas Bakery">
            Illutrator y tablet WACOM INTUOS.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 010-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal10">
    <img id="miniimg" src='assets/Gallery/meshW-01.jpg' alt="Mesh">
    <span><br>Ilustracion Mesh</span>
  </button>
  <!-- Modal IMG 010-->
  <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ilustracion Mesh</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/meshW.jpg' alt="Ilustracion mesh">
            <br>Mesh en Illustrator.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 011-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal11">
    <img id="miniimg" src='assets/Gallery/Spreads01.jpg' alt="Diseño Editorial">
    <span><br>Diseño Editorial</span>
  </button>
  <!-- Modal IMG 011-->
  <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">InDesign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/Spreads.jpg' alt="Diseño Editorial">
            Spred de revista en InDesign.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 012-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal12">
    <img id="miniimg" src='assets/Gallery/foodT01.jpg' alt="Diseño Editorial">
    <span><br>Diseño Editorial</span>
  </button>
  <!-- Modal IMG 012-->
  <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">InDesign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/foodT.jpg' alt="Diseño Editorial">
            Spread de revista en InDesign.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Button trigger modal IMG 013-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal13">
    <img id="miniimg" src='assets/Gallery/SpreadsF01.jpg' alt="Mesh">
    <span><br>Diseño Editorial</span>
  </button>
  <!-- Modal IMG 013-->
  <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Spread de Revista</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/SpreadsF.jpg' alt="Diseño Editorial">
            <br>Spread de revista en InDesign.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 014-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal14">
    <img id="miniimg" src='assets/Gallery/acrilico.jpg' alt="Diseño Editorial tapas en acrilico">
    <span><br>Acrilico</span>
  </button>
  <!-- Modal IMG 014-->
  <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Diseño e Impresion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/acrilico.jpg' alt="Diseño Editorial">
            Impresion y diseño de protafolio con acrilico.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 015-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal15">
    <img id="miniimg" src='assets/Gallery/MSurf-01.jpg' alt="Stickers sobre tabla de Surf">
    <span><br>Stickers</span>
  </button>
  <!-- Modal IMG 015-->
  <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sticker</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/MSurf-01.jpg' alt="Stickers sobre tabla de Surf">
            Stickers sobre tabla de Surf.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal IMG 016-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal16">
    <img id="miniimg" src='assets/Gallery/Marley.jpg' alt="Diseño e Impresion">
    <span><br>Diseño</span>
  </button>
  <!-- Modal IMG 016-->
  <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Diseño</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/Marley.jpg' alt="Diseño e Impresion">
            Diseño e Impresion para Marley.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Button trigger modal IMG 017-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal17">
    <img id="miniimg" src='assets/Gallery/Rotulacion.jpg' alt="Diseño Editorial">
    <span><br>Rotulacion</span>
  </button>
  <!-- Modal IMG 017-->
  <div class="modal fade" id="exampleModal17" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rotulacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/Rotulacion.jpg' alt="Diseño Editorial">
            Rotulacion de vehiculos.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Button trigger modal IMG 018-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal18">
    <img id="miniimg" src='assets/Gallery/Lakepretty01.jpg' alt="Fotografia">
    <span><br>Fotografia</span>
  </button>
  <!-- Modal IMG 018-->
  <div class="modal fade" id="exampleModal18" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fotografia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="bigimg" src='assets/Gallery/Lakepretty.jpg' alt="Fotografia">
            Fotografia de amanecer en Florida.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>